html {
    margin: 0 auto;
    max-width: 740px;
}

body {
	color: #666666;
	font-family: sans-serif;
	font-weight: 100;
}

nav {
	width: 100%;
	display: table;
	table-layout: fixed;
}

nav a {
	display: table-cell;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ebebeb;
}

a {
	color: #a3a3a3;
}

main {
	margin: 2em 0;
}
