:root {
  --menu-size: 10rem;
  --button-size: calc(var(--menu-size) / 2);
  --positioning: calc(200% - var(--menu-size) * 0.75);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: var(--positioning);
  width: var(--positioning);
  background-color: #333639;
  margin: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid: 50% 50% / 50% 50%;
}

section {
  position: relative;
}

section a {
  position: absolute;
  height: var(--button-size);
  width: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
}

#home {
  position: absolute;
  height: 3rem;
  width: 3rem;
  background-color: green;
  left: calc(var(--positioning) / 2 - 1.5rem);
  top: calc(var(--positioning) / 2 - 1.5rem);
  border-radius: 50%;
  cursor: pointer;
}

section:hover {
  background-color: red;
}

section:hover a {
  background-color: lightblue;
}

section:first-child a {
  border-top-left-radius: 100%;
  right: 0;
  bottom: 0;
}

section:nth-child(2) a {
  border-top-right-radius: 100%;
  left: 0;
  bottom: 0;
}

section:nth-child(3) a {
  border-bottom-left-radius: 100%;
  right: 0;
  top: 0;
}

section:last-of-type a {
  border-bottom-right-radius: 100%;
  left: 0;
  top: 0;
}
