:root {
  --menu-size: 10rem;
  --button-size: calc(var(--menu-size) / 2)
}

html, body {
  height: 100%;
  background-color: #333639;
  margin: 0;
}

body {
  display: grid;
  grid: 50% 50% / 50% 50%;
}

section {
  position: relative;
}

section a {
  position: absolute;
  height: var(--button-size);
  width: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
}

section:hover {
  background-color: red;
}

section:hover a {
  background-color: lightblue;
}

section:first-child a {
  border-top-left-radius: 100%;
  right: 0;
  bottom: 0;
}

section:nth-child(2) a {
  border-top-right-radius: 100%;
  left: 0;
  bottom: 0;
}

section:nth-child(3) a {
  border-bottom-left-radius: 100%;
  right: 0;
  top: 0;
}

section:last-child a {
  border-bottom-right-radius: 100%;
  left: 0;
  top: 0;
}
